body {
    font: 20px Arial, sans-serif;

}

.navbar {
    background-color: #298A08;

}
.quem-somos {
    background-color: #8181f7;
    color: white;

}
.parceiros {
    background-color: #58FAFA;

}
.margin {
    padding-top: 10px;
    padding-bottom: 50px;

}
.bg-footer {
    background-color: black;
    color: white;

}